<h1>Here is the video of the week</h1>
<p> This is where my weekly video will live </p>

<a class="btn btn-primary" data-toggle="collapse" href="#SureThing" aria-expanded="false" aria-controls="SureThing">
Sure Thing
</a>
<div class="collapse" id="SureThing">
  <div class="well">
    Sure Thing
  </div>
</div>

<a class="btn btn-primary" data-toggle="collapse" href="#BigGame" aria-expanded="false" aria-controls="BigGame">
Big Game
</a>
<div class="collapse" id="BigGame">
  <div class="well">
    Big Game
  </div>
</div>

<a class="btn btn-primary" data-toggle="collapse" href="#SleeperPick" aria-expanded="false" aria-controls="SleeperPick">
Sleeper Pick
</a>
<div class="collapse" id="SleeperPick">
  <div class="well">
    SleeperPick
  </div>
</div>